<div class="padre container-fluid">
    <div class="row navOne">
        <div class="col-12 d-flex">
            <nav class="text-center">
                <ul class="navUno">
                    <li class="liUno">Juegos</li>
                    <li class="liUno">Noticias</li>
                    <li class="liUno">Soporte</li>
                    <li class="liUno">Conocenos</li>
                </ul>
            </nav>
        </div>

    </div>
    <div class="row navTwo">
        <div class="">
            <div class="col-12 d-flex">
                <nav class="elementos nav">
                    <ul class="navDos">
                        <li class="liDos"><span> Inicio</span> </li>
                        <li class="liDos"> <span>Juegos</span> </li>
                        <li class="liDos"> <span>FAQs</span> </li>
                        <li class="liDos"> <span>Contacto</span> </li>
                    </ul>
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                </nav>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-12 p-0">
            <app-sidebar></app-sidebar>
        </div>
    </div>


</div>