<div class="padre">
    <div class="container-fluid">
        <div class="row">
            <div class="">
                <div class="col-12 d-flex">
                    <nav class="elementos nav">
                        <ul class="lista">
                            <li><span> Inicio</span> </li>
                            <li> <span>Juegos</span> </li>
                            <li> <span>FAQs</span> </li>
                            <li> <span>Contacto</span> </li>
                        </ul>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</div>