<div class="container-fluid container">
    <div class="padre">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <img src="" alt="Imgen1" style="width:100%">
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <img src="" alt="Imgen1" style="width:100%">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <img src="" alt="Imgen1" style="width:100%">
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <img src="" alt="Imgen1" style="width:100%">
                </div>
            </div>
        </div>
    </div>
</div>