<div class="wrapper">
    <div class="sidebar">
        <div class="descripcion">
            <p>We makes games, you <br> don't know yet</p>
        </div>
        <nav class="sidebar-menu">
            <ul>
                <li class="item">

                    <div class="card">
                        <img src="" alt="Imgen1">
                    </div>

                </li>
                <li class="item">

                    <div class="card">
                        <img src="" alt="Imgen2" style="width:100%">
                    </div>

                </li>
                <li class="item">

                    <div class="card">
                        <img src="" alt="Imgen1" style="width:100%">
                    </div>

                </li>
                <li class="item">

                    <div class="card">
                        <img src="" alt="Imgen1" style="width:100%">
                    </div>

                </li>
            </ul>

        </nav>
    </div>
    <div class="main-container">
        <app-content></app-content>
    </div>
</div>